@media (max-width: 1200px) {
    html{
        font-size: 0.8rem;
    }

    .navbar-flaticon {
        height: 40px!important;
        width: 40px!important;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 0.8rem;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 0.7rem;
    }

    .navbar-flaticon {
        height: 30px!important;
        width: 30px!important;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 0.5rem;
    }

    .footer-input {
        padding: 8px;
        width: 20rem; 
        outline: none;
        border: none;
    }

    .navbar-flaticon {
        height: 20px!important;
        width: 20px!important;
    }

}

@media (max-width: 576px){
    html {
        font-size: 0.4rem;
    }


    
}