* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    --theme-orange: rgb(215, 53, 2);
    --theme-font-family: font-family: 'Manrope', sans-serif;
}

.icon-color {
    color: var(--theme-orange);
}

.title {
    font-family: var(--theme-font-family);
    font-size: 3rem;
    font-weight: 600;
    color: white;
    line-height: 3.8rem;
}

.title-2 {
    font-family: var(--theme-font-family);
    font-size: 2.4rem;
    font-weight: 700;
    color: rgb(22, 22, 22);
    line-height: 3rem;
}

.subtitle {
    font-family: var(--theme-font-family);
    font-size: 1.5rem;
    color: var(--theme-orange);
    font-weight: 500;
    letter-spacing: 0.05rem;
}

.subtitle-2 {
    font-family: var(--theme-font-family);
    font-size: 1.5rem;
    color: black;
    font-weight: 600;
}

.para-1 {
    font-family: var(--theme-font-family);
    font-size: 0.9rem;
    font-weight: 400;
    color: white;
}

.para-2 {
    font-family: var(--theme-font-family);
    font-size: 1.15rem;
    font-weight: 400;
    color: white;
}

.para-3 {
    font-family: var(--theme-font-family);
    font-size: 1rem;
    font-weight: 400;
    color: rgb(84, 82, 82);
}

.span {
    color: var(--theme-orange);
}

.customized-button {
    color: white;
    background-color: var(--theme-orange);
    padding: .9rem 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: var(--theme-font-family);
    letter-spacing: 2px;
    border: none;
}

.customized-button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transition: all 0.4s;
    border: 1px solid black;
}

.customized-button-2 {
    color: white;
    background-color: var(--theme-orange);
    padding: 0px 15px;
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--theme-font-family);
    letter-spacing: 2px;
    border: none;
}

.customized-button--2:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transition: all 0.4s;
    border: 1px solid black;
}

/* ------------------------------------------------Top bar--------------------------------------------------- */

.top-bar {
    background-color: rgb(34, 34, 34);
}

/* ------------------------------------------------Navbar----------------------------------------------------- */

.navbar-brand img {
    width: 5rem;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: var(--theme-orange);
}

.navbar-collapse img {
    width: 3rem;
    font-size: 2rem;
    background-color: var(--theme-orange);
}

.navbar-toggler:focus {
    outline: none!important;
    box-shadow: none;
}

/* ------------------------------------------------Section-1--------------------------------------------------- */

.section-1 {
    background-image: url('../images/Background-Image/bg-2.jpg');
    height: 80vh;
}

/* ------------------------------------------------Section-2--------------------------------------------------- */

.section-2 {
    padding: 5rem 0rem;
}

.section-2-flaticon {
    background-color: var(--theme-orange);
    width: 4.3rem;
    border-radius: 8%;
}

/* ------------------------------------------------Section-3--------------------------------------------------- */

.section-3-quote {
    font-family: var(--theme-font-family);
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-style: italic;
}

.section-3-list {
    list-style: none;
}

.section-3-flaticon {
    background-color: white;
    width: 6rem;
}

.section-3-thumbnail {
    padding-right: 0px;
}

.section-3-thumbnail img {
    width: 5.2rem;
    border-radius: 50%;
}

/* ------------------------------------------------Section-4--------------------------------------------------- */

.section-4 {
    background-image: url('../images/Background-Image/bg-2.jpg');
    position: relative;
}

.section-4-font {
    font-family: var(--theme-font-family);
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.section-4-left-main-col {
    background-color: rgba(215, 52, 2, 0.75);
}

/* ------------------------------------------------Section-5--------------------------------------------------- */

.section-5-flaticon {
    background-color: var(--theme-orange);
    width: 4.2rem;
    padding: 0.7rem;
    border-radius: 8%;
}

/* ------------------------------------------------Section-6--------------------------------------------------- */

.section-6 {
    background-image: url('../images/Background-Image/bg-2.jpg');
}

.section-card {
    padding: 2rem;
    background-color: rgb(226, 225, 225);
}

.section-card:hover {
    background-color: var(--theme-orange);
    transition: all 0.5s;
}

/* ------------------------------------------------Section-7--------------------------------------------------- */

.section-7 .first-carousel .item {
    filter: grayscale(70%);
    width: 70%;
}

.section-7 .first-carousel .item:hover {
    filter: grayscale(0%);
}

/* -----------------------------------------------Section-8----------------------------------------------------- */

.section-8 {
    background-image: url('../images/Background-Image/bg-2.jpg');
    position: relative;
}

.section-8-thumbnail {
    width: 1rem;
    border-radius: 50%;
}

.timer-box {
    border-top: 6px solid var(--theme-orange);
    background-color: white;

}

/* -----------------------------------------------Section-9---------------------------------------------------- */

.footer {
    background-image: url('../images/footer/footer-bg.jpg');
}

.footer-flaticon {
    background-color: var(--theme-orange);
    width: 4rem;
    border-radius: 50%;
}

.footer-flaticon-2 {
    background-color: var(--theme-orange);
    width: 2.5rem;
}

.footer-flaticon-2:hover {
    transform: scale(0.8);
    transition: transform 0.2s;
}

.footer-card {
    border-top: 6px solid var(--theme-orange);
    background-color: rgb(34, 34, 34);
}

.footer-logo {
    width: 7rem;
}

.footer-input {
    width: 11rem;
    outline: none;
    border: none;
}

.footer-submit-btn {
    color: white;
    background-color: var(--theme-orange);
    padding: .5rem .5rem;
    font-size: 1.2rem;
    font-weight: 54 var(--theme-font-family);
    letter-spacing: 0.5px;
    border: none;
}

.footer-submit-btn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transition: all 0.4s;
    border: 1px solid black;
}



/* ********************************************************************************** */
/* ********************************************************************************** */



/* -------------------------------------------Contact Page----------------------------------------- */




/* ---------------------------------------------Contact-section-1------------------------------------ */


.contact-section-1 {
    background-image: url('../images/Contact-page/background.jpg');
    height: 50vh;
}

.box {
    position: absolute;
    top: 30% !important;
    left: 50%;
    transform: translate(-50%, 0%);
}

/* ---------------------------------------------Contact-section-2------------------------------------ */

.form {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.contact-section-2-flaticon {
    background-color: var(--theme-orange);
    width: 4.1rem;
    padding: 0.8rem;
}

.contact-section-2-flaticon-2 {
    background-color: var(--theme-orange);
    width: 2.2rem;
    padding: 0.4rem;
}

.contact-section-2-flaticon-2:hover {
    transform: scale(0.8);
    transition: all 0.3s;
}

.contact-section-2-form-input {
    padding: 0.8rem 8.8rem;
    border: 1px solid rgb(214, 213, 213);
    outline: none;
}

.form-control {
    padding: 0.7rem 0.75rem;
}

.form-control:focus {
    box-shadow: none;
}
